@model mvcpdfs.Models.InvoiceModel
@{
    ViewData["Title"] = "Gerar Fatura";
}

<h1>Gerar Fatura</h1>

<form asp-action="Invoice" method="post">
    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Amount" class="form-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Gerar PDF</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
